/* form.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    background-color: #2e2e2e;
}
form {
    position: relative;
    margin: 16px;
    min-height: 490px;
    background-color: #992525;
}

label {
    font-size: 16px;
    font-weight: 500;
    color: #2e2e2e;
    margin: 60px;
}

input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
